@inherits MapSubComponent

<div id=@CompositeId style=@Style class=@Class>
  @ChildContent
</div>

@code
{
  [Parameter, EditorRequired]
  public OverlayOptions Options { get; init; } = null!;

  [Parameter]
  public RenderFragment? ChildContent { get; init; }

  /// <inheritdoc />
  protected override void OnParametersSet()
  {
    base.OnParametersSet();

    if (Options is null)
    {
      throw new ArgumentNullException(nameof(Options));
    }
  }
}
