@inherits MapSubComponent

<div id=@CompositeId style=@Style class=@Class>
</div>

@code
{
  [Parameter, EditorRequired]
  public OverlayOptions Options { get; init; } = null!;

  protected override void OnParametersSet()
  {
    base.OnParametersSet();

    if (Options is null)
    {
      throw new ArgumentNullException(nameof(Options));
    }
  }
}
